/install
/raw
/.tmp

/tools/alf
/tools/eushully-decompiler
/tools/SExtractor
/tools/UniversalInjectorFramework

node_modules

*exe_extracted

/patch/BIN
/patch/AGF

/patch-*.zip
/v*.zip

.DS_Store

__pycache__/

res/fonts/SarasaGothicSC
res/fonts/SarasaGothicJ
